.home h2{
    color: #D4AF37;
}
.home h1{
  color: #d4af37;
}
.home p {
    font-size: 25px;
}
.hero-section {
    height: 70vh; /* Full screen height */
    background: url('hero.jpg') center/cover no-repeat; /* Background image */
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  
  .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text visibility */
    z-index: -1;
  }
  
  .hero-btn {
    transition: all 0.3s ease-in-out;
    border: 2px solid #fff;
  }
  
  .hero-btn:hover {
    background-color: #D4AF37;
    color: #fff;
    transform: scale(1.05);
    border-color: #d4af37;
  }
  
  
  