.products .card {
    width: 18rem;
    height: 19rem;
    border: none;
}
.products .card img {
    background-color: #F5F5F5;
 }
 .products p{
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    color: #ffd700;
 }
