.products .card {
    width: 100%;
    border: none;
}

.products .card img {
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
}

.products p {
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    color: #D4AF37;
}

.products p svg {
    color: #D4AF37;
}

.products .card .card-text {
    text-decoration: none;
    color: #343a40;
    font-weight: normal;
    font-size: 18px;
}

.products .card .card-title {
    text-decoration: none;
    color: #343a40;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.products .price {
    color: #D4AF37;
}