@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto+Slab:wght@100..900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif; /* Apply Cairo font */

}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

.content {
  flex-grow: 1;
  margin-right: 250px;

}
@media (max-width: 768px) {
  .content {
    margin-right: 0;
  }
}
.ltr {
  display: inline;
  direction: ltr;
}
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

